
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.overlay {
    background-color: #ffffff9d;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    /* transform: translateY(1000px); */
    display: none;
    z-index: 100;
}
.overlay .content {
    background-color: #fff;
    width: 40%;
    margin: 200px auto;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
}
.overlay .content i {
    font-size: 80px;
    color: green;
    margin-bottom: 30px;
}
.overlay .content p {
    font-size: 40px;
    color: violet;
}
.container {
    width: 100%;
    height: 99.7vh;
    background-color: #000;
    padding-top: 120px;
    background-image: url(p.jpeg);
}

.form {
    color: #fff;
    background-color: #363333;
    margin: 0 auto;
    width: 450px;
    padding: 35px;
    border-radius: 15px;
}
h2 {
    margin-bottom: 15px;
    font-size: 35px;
}
input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #222;
}
form div {
    margin-bottom: 15px;
}
form div input {
    margin-top: 7px;
}
.radio label {
    display: inline-flex;
    align-items: center;
    margin-right: 13px;
}
.radio label input {
    margin-bottom: 5px;
    margin-right: 5px;
}
label {
    font-size: 13px;
}
i {
    margin-right: 9px;
}
button {
    cursor: pointer;
    border: unset;
    padding: 9px 19px;
    background-color: #111;
    color: red;
    font-weight: bold;
    border-radius: 9px;
}
.link a {
    display: flex;
    justify-content: end;
    color: #fff;
}
.link i {
    margin-left: 5px;
}